* {
    font-size: 24px;
    color: #212121;
}

h3 {
    text-align: center;
    margin: 0;
    padding: 0 0 48px 0;
    font-size: 32px;
}

Button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
    cursor: pointer;

    color: #333333;
    font-size: 22px;
}

.mainContainer {
    display: flex;
    justify-content: center;

    background-color: #BCBCBC;
    min-height: 100vh;
}

.gameContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    background-color: #E0E0E0;
    border-radius: 5px;
    margin: 32px;
    padding: 32px;
    width: 60vw;
    min-width: 300px;
    min-height: 100%;
}

.content {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    align-items: stretch;
}

.questionBox {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    border: 1px solid black;
    border-radius: 3px;
    margin: 32px 32px 0 32px;
    padding: 32px;
    min-height: 150px;
    vertical-align: middle;
}

.actionArea {
    margin-top: 48px;
}

.actionArea > *:last-child {
    margin-left: 24px;
}

.actionArea > *:only-child {
    margin-left: 0;
}

.result {
    display: flex;
    align-items: center;
    text-align: left;

    font-size: 24px;
    margin: 8px 0;
    padding: 12px;
    border-radius: 3px;
}

.answer {
    text-align: center;
    color: #333333;
    font-size: 22px;
    flex-grow: 0;
    flex-shrink: 0;
    min-width: 80px;
}

.question {
    flex-grow: 1;
    flex-shrink: 1;

    padding-left: 24px;
}

.correct {
    background-color: #cae5ac;
}

.incorrect {
    background-color: #f3b9bd;
}